<h1>Public::Budgets#show</h1>

<div class="row">
  <div class="col-md-3">
    <%= render 'public/users/user_info', user: current_user %>
  </div>
  <div class="col-md-9">
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <div class="card shadow mt-5">
          <div class="card-body">
            <table class="table">
              <tr>
                <th><%= t 'activerecord.attributes.post.title' %></th>
                <td><%= @post.title %></td>
              </tr>
              <tr>
                <th><%= t 'activerecord.attributes.post.body' %></th>
                <td><%= simple_format @post.body %></td>
              </tr>
            </table>

            <div class="d-flex justify-content-around">
              <%= render 'public/favorites/favorite_button', post: @post if user_signed_in? %>
              <% if user_signed_in? && current_user == @post.user %>
                <%= link_to "編集", edit_post_path(@post), class: "btn btn-warning" %>
                <%= link_to "削除", @post, method: :delete, data: { confirm: "本当に削除しますか?" }, class: "btn btn-danger" %> 
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>