<h1>投稿詳細</h1>

<div class="row">
  <div class="col-md-3">
    <%= render 'admin/users/user_info', user: @post.user %>
  </div>
  <div class="col-md-9">
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <div class="card shadow mt-5">
          <div class="card-body">
            <table class="table">
              <tr>
                <th><%= t 'activerecord.attributes.post.title' %></th>
                <td><%= @post.title %></td>
              </tr>
              <tr>
                <th><%= t 'activerecord.attributes.post.body' %></th>
                <td style="word-break:break-all;"><%= simple_format @post.body %></td>
              </tr>
            </table>

            <div class="d-flex justify-content-around">
              <%= link_to "削除", admin_post_path(@post), method: :delete, data: { confirm: "本当に削除しますか?" }, class: "btn btn-danger" %> 
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="mt-5">
  <h3>この投稿へのコメント</h3>
  <%= render 'admin/comments/comments', comments: @comments %>
</div>