<!DOCTYPE html>
<html>
  <head>
    <title>Kakei | 管理者</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/44f6061d41.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= render 'layouts/admin_navigation' %>
    </header>
    <div class="container mt-4">
      <%= render 'admin/searches/form' %>
      <%= render 'layouts/flash_messages' %>
      <%= yield %>
    </div>
  </body>
</html>
